{% extends "base.html" %}
{% block content %}
<div class="card page active">
  <div class="row">
    <form class="col s12" method="POST">
      <h4>Reset Password</h4>
      {% if error %}
      <p class="red-text">{{ error }}</p>
      {% endif %}
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" required />
          <label for="password">New Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light purple" type="submit">
        Reset Password
      </button>
    </form>
  </div>
</div>
{% endblock %}